.gallery {
  --d: 150s;
  /* duration */
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  width:400px;
  margin-left: 100px;
}

.gallery > img {
  grid-area: 1/1;
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: 10px solid #e4b2c1;
  box-shadow: 0 0 3px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}


.gallery img:last-child {
  animation-name: slide, z-order-last;
}

/* --------- Animation delay & rotation for 27 images --------- */
.gallery > img:nth-child(1)  { animation-delay: calc(0*var(--d));       --r: 16deg; }
.gallery > img:nth-child(2)  { animation-delay: calc(-0.037*var(--d));  --r: -8deg; }
.gallery > img:nth-child(3)  { animation-delay: calc(-0.074*var(--d));  --r: 12deg; }
.gallery > img:nth-child(4)  { animation-delay: calc(-0.111*var(--d));  --r: -6deg; }
.gallery > img:nth-child(5)  { animation-delay: calc(-0.148*var(--d));  --r: 9deg; }
.gallery > img:nth-child(6)  { animation-delay: calc(-0.185*var(--d));  --r: -12deg; }
.gallery > img:nth-child(7)  { animation-delay: calc(-0.222*var(--d));  --r: 7deg; }
.gallery > img:nth-child(8)  { animation-delay: calc(-0.259*var(--d));  --r: -9deg; }
.gallery > img:nth-child(9)  { animation-delay: calc(-0.296*var(--d));  --r: 11deg; }
.gallery > img:nth-child(10) { animation-delay: calc(-0.333*var(--d));  --r: -7deg; }
.gallery > img:nth-child(11) { animation-delay: calc(-0.370*var(--d));  --r: 14deg; }
.gallery > img:nth-child(12) { animation-delay: calc(-0.407*var(--d));  --r: -11deg; }
.gallery > img:nth-child(13) { animation-delay: calc(-0.444*var(--d));  --r: 8deg; }
.gallery > img:nth-child(14) { animation-delay: calc(-0.481*var(--d));  --r: -10deg; }
.gallery > img:nth-child(15) { animation-delay: calc(-0.518*var(--d));  --r: 13deg; }
.gallery > img:nth-child(16) { animation-delay: calc(-0.555*var(--d));  --r: -6deg; }
.gallery > img:nth-child(17) { animation-delay: calc(-0.592*var(--d));  --r: 15deg; }
.gallery > img:nth-child(18) { animation-delay: calc(-0.629*var(--d));  --r: -12deg; }
.gallery > img:nth-child(19) { animation-delay: calc(-0.666*var(--d));  --r: -20deg; }
.gallery > img:nth-child(20) { animation-delay: calc(-0.703*var(--d));  --r: -8deg; }
.gallery > img:nth-child(21) { animation-delay: calc(-0.740*var(--d));  --r: 11deg; }
.gallery > img:nth-child(22) { animation-delay: calc(-0.777*var(--d));  --r: -9deg; }
.gallery > img:nth-child(23) { animation-delay: calc(-0.814*var(--d));  --r: 12deg; }
.gallery > img:nth-child(24) { animation-delay: calc(-0.851*var(--d));  --r: -7deg; }
.gallery > img:nth-child(25) { animation-delay: calc(-0.888*var(--d));  --r: 14deg; }
.gallery > img:nth-child(26) { animation-delay: calc(-0.925*var(--d));  --r: -10deg; }


@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%, 100%, 20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%, 20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%, 20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #f8f6f1;
  overflow: hidden;
}

#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 120px;
}

#shine {
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 0, 102, 0.3);
  z-index: 10;
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s; /* Adjust the duration as needed */
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);

}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

@media only screen and (max-width: 600px) {
  #shine {
  font-size: 22px;
}
#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 80px;
}

.gallery {
  --d: 150s;
  /* duration */
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  width: 250px;
  margin-left: 60px;
}
}